
<h1>
	3 - 10 게시판               
</h1>

<p>
	<%= @correct[0] %> 님 안녕하세요. 
</p>

<table>
	<style>
		td{
			text-align: center;
		}
	</style>
  <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;과목&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;제목&nbsp;&nbsp;&nbsp;</th>
	  <th>&nbsp;&nbsp;&nbsp;작성자&nbsp;&nbsp;&nbsp;</th>
	  <th>&nbsp;&nbsp;&nbsp;작성 일자(수정 일자)&nbsp;&nbsp;&nbsp;</th>
	 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td><%= post.subject %></td>
        <td><%= post.title %></td>
       	<td><%= post.writer %></td>
		<td><%= post.time%></td>
		<td><a href="/read/<%=post.id%>">읽기</a></td>  
		<% if post.password == @correct[1] %>	  
			<td><a href="/update/<%=post.id%>">수정</a></td>
			<td><a href="/delete/<%=post.id%>">삭제</a></td>   
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "로그인으로 이동", "/login" %>
<%= link_to "새로운 게시판", "/index" %>


	





